<div class="contact">
    <div class="contact__title">
        <h5>Contact us @</h5>
    </div>
    <div class="contact__cards">
        <div class="contact__card">
            <mat-icon>business</mat-icon>
            <h4>ADDRESS</h4>
            <p>
                Floor no: 2,
                ARUNACHALA CLASSIC
                Plot No.64 KPHB 6th phase
                Hyderabad, Telangana
                Pincode: 500072
            </p>
        </div>
        <div class="contact__card">
            <mat-icon>phone</mat-icon>
            <h4>PHONE</h4>
            <p>6304159264</p>
        </div>
        <div class="contact__card">
            <mat-icon>email</mat-icon>
            <h4>E-MAIL</h4>
            <p>support@findmyproperties.in</p>
        </div>
    </div>
</div>
<app-footer></app-footer>