.actions {
    justify-content: space-around;
    display        : flex;
}


.main-content {
    display: flex;
    place-items: center;
    .image,
    iframe {
        width    : 25%;
        height   : 200px;
        max-width: 300px;
        min-width: 300px;
        padding  : 10px;
    }

    .content {
        padding: 10px;
    }

    .details {
        width: 50%;
        text-align: center;
    }
}

.address {
    width         : 70%;
    display       : flex;
    flex-direction: row-reverse;
}

@media only screen and (max-width: 999px) {
    .main-content {
        place-items: center;
        display: flex;
        flex-direction: column;
    }

    .media-box {
        text-align: center;
    }
}

@media only screen and (min-width: 1300px) {
    .content {
        width: 560px;
    }

    .media-box {
        display: flex;
    }
}


.mat-button {
    color: white !important;
    background-color: #3f51b5 !important;
}

.mat-card {
    margin: 25px;
    border: 0.5px solid;
    box-shadow: 5px 10px #888888;
}

.search {
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-top: 100px;
}