<section class="about">
    <div class="about__header">
        <h5>WELCOME TO FIND MY PROPERTIES</h5>
        <h1>Contact us today</h1>
        <b>6304159264</b>
    </div>
    <div class="about__us">
        <div class="about__us__lsp">
            <h4>ABOUT US</h4>
            <h2>We Are The Solution</h2>
        </div>
        <div class="about__us__rsp">
            <p>
                The Find My Properties (FMP) focuses on our clients needs and wants. With having a full design and
                construction team,
                we are able to walk you through the process, from preconstruction to the final product. We specialize in
                new builds and
                major remodels for residential and commercial. When you are looking for 100% dependability,
                there is no denying the positive facts of our business.
            </p>
        </div>
    </div>
    <div class="about__vision">
        <div class="about__vision__left">
            <img src="../../../assets/skycrapper.jpg"
                alt="Find my properties - Leading Real Estate in Hyderabad logo" />
        </div>
        <div class="about__vision__right">
            <div class="full_width block">
                <h4>ABOUT US</h4>
                <h2>Company Overview</h2>
            </div>
            <div>
                <p>
                    FIND MY PROPERTIES is the India's most trusted platform for buying properties.
                    It is hyderabad’s largest market place for real estate. FMP is the  best portal for the
                    people who are looking to buy property in India. Find My Properties is dedicated to helping you
                    to find the best properties in Hyderabad that perfectly suit your requirements.
                    Visit Find the website here: https://findmyproperties.in/
                </p>
            </div>
            <div>
                <h4>MISSION STATEMENT</h4>
                <p>
                    To create long lasting relationships by providing construction solutions
                    that result in exceptional outcomes.
                </p>
            </div>
            <div>
                <h4>VISION</h4>
                <p>
                    To provide next generation services to customers and property owners in real estate.
                    FMP is a high-tech assistant for property buying or selling.
                </p>
            </div>
        </div>
    </div>
    <div class="about__types">
        <div>
            <img src="../../../assets/residential bed room.jpg"
                alt="Find my properties - Leading Real Estate in Hyderabad logo" />
            <h5>RESIDENTIAL</h5>
        </div>
        <div>
            <img src="../../../assets/open land sample.jpg"
                alt="Find my properties - Leading Real Estate in Hyderabad logo" />
            <h5>OPEN LAND</h5>
        </div>
        <div>
            <img src="../../../assets/office sample.jpg"
                alt="Find my properties - Leading Real Estate in Hyderabad logo" />
            <h5>COMMERCIAL</h5>
        </div>
    </div>
    <div class="about__vision">
        <div class="about__vision__left">
            <img src="../../../assets/pexelsphoto259950.jpeg"
                alt="Find my properties - Leading Real Estate in Hyderabad logo" />
        </div>
        <div class="about__vision__right">
            <div class="full_width block">
                <h2>Company Features</h2>
            </div>
            <div>
                <p>
                    Find my properties is dedicated to mitigate the problems in buying or selling a property.
                    The following are the features Find my properties offers :
                </p>
            </div>
            <div>
                <h4>Customers Features</h4>
                <ul>
                    <li>Browsing among long list of projects.</li>
                    <li>Multi-purpose based search for search properties based on name, location, type and many more
                    </li>
                    <li>Filter based search among the projects to select the desired property.</li>
                    <li>Multi-lingual Voice based search where desired projects are filtered based on voice
                        instructions.</li>
                    <li>Live call-agent support, To directly connect the agent.</li>
                    <li>Integrated maps.</li>
                    <li>3D Tour for having virtual 360 degree tours of the properties.</li>
                    <li>Image and video gallery for the showcasing properties.</li>
                    <li>Google Street-view integration for the Maps.</li>
                    <li>NRI services.</li>
                    <li>Legal services.</li>
                    <li>Comparing between properties.</li>
                    <li>Location based property recommendations.</li>
                </ul>
            </div>
            <div>
                <h4>Property Owner Features</h4>
                <ul>
                    <li>360 degree panorama builder support.</li>
                    <li>3D property view of the properties.</li>
                    <li>3D property view along with the Payment Gateway.</li>
                </ul>
            </div>
            <div>
                <h4>Agent Features</h4>
                <ul>
                    <li>Payment gateway for agents for the purchase of Leads.</li>
                    <li>Subscription for Agents / Saving for Users.</li>
                    <li>Lead showcase in Agent page.</li>
                    <li>Verifying the agents with training on 360 image uploads.</li>
                    <li>Uploading the projects by verified agents.</li>
                </ul>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</section>