<div class="visit">No of visitors : {{count}}+ </div>
<div class="footer">
    <div class="footer__left">
        <h4>VISITING US</h4>
        <h2>Contact</h2>
        <div class="dash"></div>
        <p>
            Floor no: 2,
            ARUNACHALA CLASSIC
            Plot No.64 KPHB 6th phase
            Hyderabad, Telangana
            Pincode: 500072
        </p>
    </div>
    <div class="footer__right">
        <h4><b>Phone: </b>630 415 9264</h4>
        <h4><b>Email: </b>support@findmyproperties.in</h4>
        <p>
            Alternatively you can send us an enquiry via email using the contact
            form below. Simply complete the form and we’ll get back to you as
            soon as possible.
        </p>
        <div class="footer__logo">
            <a href="https://www.facebook.com/Find-My-Properties-105181038454004">
                <button mat-button>
                    <mat-icon svgIcon="facebook"></mat-icon>
                </button>
            </a>
            <a href="https://twitter.com/explorefmp">
                <button mat-button>
                    <mat-icon svgIcon="twitter"></mat-icon>
                </button>
            </a>
            <a href="https://www.instagram.com/explorefmp/">
                <button mat-button>
                    <mat-icon svgIcon="instagram"></mat-icon>
                </button>
            </a>
            <a href="https://www.linkedin.com/company/explorefmp">
                <button mat-button>
                    <mat-icon svgIcon="linkedin"></mat-icon>
                </button>
            </a>
        </div>
    </div>
</div>
<div class="copy-rights">
    <h3>© PROP SEEKERS PRIVATE LIMITED</h3>
</div>