.footer {
    background: #a0abaf;
    color: black;
    display: flex;
    flex-wrap: wrap;
    &__left {
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        flex: 1;
        display: inline-flex;
        flex-wrap: wrap;
        min-width: 210px;
        h4 {
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 1.2;
            margin-top: 20px;
            margin-bottom: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        h2 {
            font-size: 3rem;
            line-height: 1.1;
            margin-top: 20px;
            margin-bottom: 20px;
            font-weight: 700;
        }
        p {
            width: 300px;
            margin-top: 15px;
        }
    }
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        flex: 1;
        display: inline-flex;
        flex-wrap: wrap;
        min-width: 210px;
        p {
            font-size: 1rem;
            line-height: 1.6;
        }
    }
    &__logo {
        button {
            padding: 10px;
        }
        
        mat-icon {
            color: black;
            height: 40px;
            width: 40px;
        }
    }
}

.copy-rights {
    text-align: center;
    background: #a0abaf;
    color: black;
    h3 {
        padding: 10px;
    }
}

.dash {
    border-style: solid;
    border-width: 2px;
    width: 300px;
}

h4 {
    font: 400 18px/24px Roboto, "Helvetica Neue", sans-serif !important;
}