<section class="content-title">
    <div>
        <button mat-raised-button color="primary" (click)="navigateTodetails()">Back</button>
    </div>
    <div>
        <h4>
            360 Image Gallery
        </h4>
    </div>
    <div>
        <button mat-raised-button color="primary" (click)="navigateTo3dModel()">3D Model</button>
    </div>
</section>
<img style="position: absolute;background: black;" id="headerlogo" [routerLink]="['/']"
    src="../../../assets/findmyproperties-logo.png" alt="Find my properties - Leading Real Estate in Hyderabad logo" />
<iframe style="max-width:100%;width:100%;height:430px;" [src]="iFrameModel | safe : 'resourceUrl'" frameborder="0"
    allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" allowvr="true"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; vr">
</iframe>