<div class="container">
    <div id="img-id" class="img-container">
        <svg viewBox="0 0 1200 1920" height="100%" width="100%" version="1.1">
            <!--Available-->
            <path class="path" id="one" data-desc="Booked" *ngFor="let path of paths" [attr.d]="path"
                (click)="getStatus(1,1)" />

        </svg>
    </div>
</div>
<div class="desc-container" style="top:240px; left:530px;">

</div>
<ng-template #available>
    <h2>Available</h2>
</ng-template>
<ng-template #booked>
    <h2>Booked</h2>
</ng-template>
