.home {
    font-family: 'Open Sans',sans-serif;
    height: 100%;
    width: 100%;

    &__sky {
        height: 65%;
    }

    &__text {
        top: 70px;
        width: 100%;
        position: absolute;
        display: flex;
        color: white;
        white-space: pre-wrap;
        text-align: center;
        z-index: 1;
        flex-direction: column;
    }

    &__slides {
        justify-content: center;
        text-align: center;
        margin-top: 50px;
        h2 {
            font-size: 40px;
        }
    }

    &__vision {
        background-color: black;
        color: white;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        ul {
            font-size: 16px;
        }
        &__left {
            flex-direction: column;
            justify-content: center;
            padding: 50px;
            flex: 1;
            display: inline-flex;
            flex-wrap: wrap;
            min-width: 210px;

            img {
                width: 100%;
                height: 100%;
            }
        }
        &__right {
            flex-direction: column;
            justify-content: center;
            padding: 50px;
            flex: 1;
            display: inline-flex;
            flex-wrap: wrap;
            min-width: 210px;
            p {
                font-size: 1rem;
                line-height: 1.6;
                padding-top: 10px;
            }
            h4 {
                font-weight: 400;
                color: #999999;
                font-size: 1.25rem;
                line-height: 1.2;
                margin-top: 20px;
                margin-bottom: 20px;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
            h2 {
                font-size: 3rem;
                line-height: 1.1;
                margin-top: 20px;
                margin-bottom: 20px;
                font-weight: 700;
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
    }
}

.reverse {
    display: flex;
    flex-direction: row-reverse;
    &__padding {
        padding-left: 100px;
    }
    color: black;
    background-color: white;
    h4 {
        color: black;
        font-weight: bolder;
    }
}

.title {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    img {
        height: 150px;
        margin-top: 30px;
    }
}

::ng-deep .a-enter-vr-button {
    display: none !important;
}
