<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav">
    <mat-nav-list  class="sidenav-list">
      <a mat-list-item routerLink="" (click)="sidenav.toggle()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item (click)="sidenav.toggle();openDialog()">
        <mat-icon>input</mat-icon>
        <span >Login</span>

      </a>
      <a mat-list-item routerLink="/about" (click)="sidenav.toggle()">
        <mat-icon>account_circle</mat-icon>
        <span>About</span>
      </a>
      <a mat-list-item routerLink="/contact" (click)="sidenav.toggle()">
        <mat-icon>phone</mat-icon>
        <span>Contact</span>
      </a>
      <a mat-list-item routerLink="/blog" (click)="sidenav.toggle()">
        <mat-icon>book</mat-icon>
        <span>Blog</span>
      </a>
      <a mat-list-item routerLink="/properties" (click)="sidenav.toggle()">
        <mat-icon>apartment</mat-icon>
        <span>Properties</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="action-btn">
        <button class="buy" mat-raised-button color="primary" (click)="buy()">Buy</button>
        <button *ngIf="!user" class="login" mat-raised-button color="primary" (click)="openDialog()">Login</button>
        <button *ngIf="user" class="login" mat-raised-button color="primary" (click)="logout()">Logout</button>


      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>