<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav">
    <mat-nav-list class="sidenav-list">
      <a mat-list-item routerLink="" (click)="onToggleClose()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="/login" (click)="onToggleClose()">
        <mat-icon>input</mat-icon>
        <span>Login</span>
      </a>
      <a mat-list-item routerLink="/about" (click)="onToggleClose()">
        <mat-icon>account_circle</mat-icon>
        <span>About</span>
      </a>
      <a mat-list-item routerLink="/contact" (click)="onToggleClose()">
        <mat-icon>phone</mat-icon>
        <span>Contact</span>
      </a>
      <a mat-list-item routerLink="/blog" (click)="onToggleClose()">
        <mat-icon>book</mat-icon>
        <span>Blog</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Find My Properties</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>